<div>
  <% @posts.each do |post| %>
   <div class="container">
      <div class = "row span5 ">
        <h4> <%= link_to post.title, post %> </h4>
      </div>

      <div class = "row span8 offset1">
        <%= post.content %>
      </div>
      <br/><br/>
    </div>
  <% end %>
</div>